[tool.poetry]
name = "django-spicy-id"
version = "0.3.1"
description = ""
authors = ["mike wakerly <opensource@hoho.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8.1"

[tool.poetry.dev-dependencies]
Django = "^4.1.4"
pytest = "^7.2.0"
flake8 = "^6.0.0"
black = "^22.12.0"
isort = "^5.10.1"
tox = "^4.0.8"
setuptools = "^65.6.3"
pytest-django = "^4.5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
skip_gitignore = true

[tool.black]
line-length = 100
target_version = ['py311']
include = 'django_spicy_id/.*\.pyi?$'
